body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: beige;
}

.container {
    display: flex;
}

.vertical-nav {
    background-color: beige;
    padding: 20px;
    height: 100vh;
}

.vertical-nav ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    border: 4px solid brown;
    

}
.vertical-nav a{
    background-color: transparent;
    width: 100%;
}
.vertical-nav li a.active {
    background-color: brown;
}
.vertical-nav li a{
    margin-bottom: 10px;
    border: 3px solid brown;
    align-items: center;
    display: flex;
    text-decoration: none;
    
}
.vertical-nav li a:active,
.vertical-nav li a:focus,
.vertical-nav li a:hover {
    background-color: darkred;

}

.contenedor-cuerpo{
    display: flex;
    /* justify-content: space-between; */
    padding: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    }
.cuerpo {
    width: 200px; 
    height: 200px; 
    padding: 30px;
    border: 3px solid brown;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin: 20px;
}


.cuerpo p {
    text-align: center;
}
p::first-letter{
    font-size: 300%;
    float: left;
}
.cuerpoultimo{
    width: 200px; 
    height: 200px; 
    padding: 30px;
    border: 3px solid brown;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin: 20px;
    flex-wrap: wrap;
}

