body{
    background-color: #DDB68B;
}
h1{
    margin: 0;
    color: grey;
    font-family: sans-serif;
    text-align: center;

}
div{
    height: 300px;
    width: 300px;
    border: 4px dashed #FD7657;
    /* position: relative; */
    float: left;
    margin: 25px;
    background-color: #DDB68B;
}
h2{
    background-color: #FD7657;
    text-align: center;
    color: #ffffff;
    margin: 0;
    top: -6%;
    position: relative;
    max-width: 50%;
    left: 24%;

}
p {
    font-family: 'Times New Roman', Times, sans-serif ;
    color: black;
    font-size: 25px;
    font-style: italic;
    padding: 16px;
    
}
p::first-letter{
    font-size: 200%;
    float: left;
    font-style: normal;
}