header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

body {
    background-color: #d3d3d3;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

nav {
    background-color: white;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
}

select {
    width: 350px;
    padding-left: 20px;
}

.portada {
    background-image: url(casa.png);
}

.nav-links {
    display: flex;
    margin-left: auto;
}

a {
    color: black;
    border-color: black;
    padding: 0.5rem 0.5rem;
    font-size: small;
    font-weight: 400;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.mene {
    width: 150px;
    height: auto;
    margin-right: 10px;
}

.luna {
    width: 20px;
    height: auto;
    margin-right: 10px;
}


.content-container {
    background-color: white;
    padding: 20px;
    margin: 60px auto;
    max-width: 600px;
    margin-left: 220px;
    border-radius: 5px;
}


.content-box {
    display: flex;
    flex-direction: column;
    
}

.content-box h1 {
    width: 50%;
 
    margin-bottom: 10px;
    padding: 10px;
    font-size: 21px;
    font-family: 'Arial', sans-serif;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
}

.content-box img {
    width: 30%;
    height: 30%;
    display: block;
    border-radius: 10px;
    margin-top: 12px;
    margin-left: 109px;
    
}


.text-container {
    margin-top: 10px;
    font-size: 5px;
}


.text-container p {
    font-size: 14px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.text-and-image {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    
}

.texto2 {

    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.primeralinea{
display: flex;
    
}
.link {
    color: gray;
    text-decoration: none;
    font-size: 12px;
    margin-top: -29px;
}
.link2 {
    color: gray;
    text-decoration: none;
    font-size: 12px;
    margin-top: -60px;
}
.texto3 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
}
footer {
    background-color: #fff9f0;
    margin-top: auto;
    
    
}
.imagemene2{
    margin-top: 50px;
    margin-left: 20px;
}
.linkfooter{
    display: flex;
    flex-direction: column;
}
.link3{
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.link4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 100px;
}
.linkfooter2{
margin-left: 300px;
display: flex;
flex-direction: column;
margin-top: -173px;
font-family: Arial, Helvetica, sans-serif;
}
.link5{
    font-weight: bold;
}
.link7{
    text-decoration: underline;
}
.linkfooter3{
    margin-left: 500px;
display: flex;
flex-direction: column;
margin-top: -221px;
font-family: Arial, Helvetica, sans-serif;
}
.link8{
    font-weight: bold;
}