body{
    background-image: linear-gradient(red, yellow, green) ;
    background-repeat: no-repeat;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

.cuadrado {
    height: 200px;
    width: 200px;
    margin: 2px;
    border: 2px solid black;

}

#cuadrado1 {
    background-color: blue;
}

#cuadrado2 {
    background-color: red;
}

#cuadrado3 {
    background-color: greenyellow;
}
p{
    display: flex;
    margin-top: 84px;
    font-size: 38px;
    margin-left: 50px;
}
