body {
    font-family: 'Pacifico', sans-serif;
}
.image img {
    width: 70%; 
}

.container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
    }
    .image {
        margin-bottom: 20px;
    }
}


@media (min-width: 769px) {
    .container {
        flex-direction: row;
    }
    .image {
        margin-right: 20px;
    }
}
