body {
    background-color: aqua;
}

.monedas img {
    float: left;
    display:inline-block
}

.monedas2 img {
    float: right;
    display: inline-block;
}

.titulo {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 5px;
    text-align: center;
}

.emperors {
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
}
.augusto {
  display: block;
  margin: auto;
  width: 10%;
}
